@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #000319;
  --foreground: #171717;
}

body {
  font-family: "Inter", sans-serif;
}

.border-header {
  position: relative;
  border: 1px solid transparent;
  border-radius: 13px;
  background:
    linear-gradient(to right, #04071d, #0c0e23) padding-box,
    linear-gradient(to right, #6971a2 16%, #272a3c 37%) border-box;
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.grid-pattern {
  background: url("/grid-pattern.svg");
  background-position: center;
  background-size: cover;
  background-position: no-repeat;
}

.pattern {
  background: url("/pattern.png");
  background-position: center;
  background-size: cover;
  background-position: no-repeat;
}

.background {
  background: url("/background.png");
  background-position: center;
  background-size: cover;
  background-position: no-repeat;
}

.background-blur {
  background: url("/blur.svg");
  background-position: left;
  background-size: cover;
  background-position: no-repeat;
}

.container {
  margin: 0 auto;
  width: 90%;

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 1280px;
  }
}

@keyframes glow {
  0%,
  100% {
    box-shadow: 0 0 8px #25d366;
  }
  50% {
    box-shadow: 0 0 18px #25d366;
  }
}

.animate-glow {
  animation: glow 2s ease-in-out infinite;
}

@keyframes glowWhite {
  0%,
  100% {
    box-shadow: inset 0 0 8px 0.82px rgba(255, 255, 255, 0.12);
  }
  50% {
    box-shadow: inset 0 0 14px 1.2px rgba(255, 255, 255, 0.22);
  }
}

.animate-glow-white {
  animation: glowWhite 2.2s ease-in-out infinite;
}
